body {
 
}
#token-display
{
  display: none !important;
}
#pageTitle
{
  display: none;
}
nav
{
  background: #ededed !important;
}
nav a:hover,nav a:focus,nav a:active
{
  background: #000 !important;
}
.calenderContainer {
    background-color: #eee;
}
