﻿#feedbackMailDiv{
    position: fixed;
    right: 0px;
}
#feedback:parent{
     position: absolute;
    right: 0px;
}
#feedback{
   border-top-left-radius: 41px;
    /* padding: 5px; */
    background: #f3f3f3;
    /* border: 1px solid #0072c6; */
    border-right: 0px;
    
    /* text-orientation: sideways-right; */
    display: block;
    height: auto;
}
#feedback-form{
    display: block;
    /* width: 170px; */
    width: 350px;
    /* margin-left: auto; */
    /* margin-right: auto; */
    height: 100%;
    float: right;
    padding-left:6px;
}
.form-control{

    display: block;
    width: 90%;
    height: 34px;
    
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        margin-bottom: 8px;
}
.select{
    width:93%;
}
.btn-primary{
    margin-left:0px!important;
    background: #87ce87db;
    color: white;
}
.btn-primary:hover{
    background:#33af33db;
    cursor:pointer;
}
#feedback-tab{
    background: #0072c6;
    color: white;
    text-align: center;
    /* text-orientation: sideways; */
    writing-mode: vertical-lr;
    text-orientation: mixed;
    height: 150px;
    float: left;
    width: 25px;
    text-align: center;
    display: block;
    padding-left: 14px;
    cursor: pointer;
}