﻿/* Place custom styles below */
.todoTable th {
    background-color: #0072c6;
    color: white;
    padding: 8px;
}

.todoTable tr td {
    background-color: white;
    border: 1px solid grey;
    color: black;
}

.todoAddDiv {
    background-color: grey;
    color: white;
}

.todoTable, .todoAddDiv {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.todoTable {
    background-color: white;
}

    .todoTable th:first-child {
        width: 10%;
    }

.title {
    width: 100%;
}

.todoAddDiv {
    display: table;
    /* width: 100%; */
    padding: 7px;
}

.todateCreate {
    display: block;
    width: 10%;
    background-color: green;
    border-radius: 10px;
    cursor: pointer;
    float: left;
}

.todateDelete {
    display: block;
    width: 10%;
    cursor: pointer;
    float: left;
    margin-left: 15px;
    background-color: red;
    border-radius: 10px;
}

.todateDeleteAll {
    display: block;
    cursor: pointer;
    background-color: red;
    border-radius: 10px;
    display: block;
    width: 10%;
    float: left;
    margin-left: 15px;
}
