﻿.table th, td {
    text-align: center !important;
}

.trdatatable tr:hover {
    background: #96bee6;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.trdatatable:hover {
    background: #96bee6;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.weekContainer {
    background: #f87a7a;
    color: white;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
}

.timingSummary {
    background: #337ab7;
    color: white;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
}

  .timingSummary .row, .weekContainer .row {
        margin: 0px !important;
    }


.btn {
    padding: 0px 7px!important;
}

.attendenceLabel {
    font-size: 20px;
    font-weight: bold;
}
.table > tbody > tr > th{
    border-top:0px!important;  
}
p {
    margin: 0 0 0px!important;
    margin-bottom: 10px!important;
}
