﻿/* Place custom styles below */


.connectedSortable {
    list-style: none;
    display: contents;
}
.fav_btn {
    width:1.5em;
    cursor:pointer;
}
.ui-sortable-handle{
    cursor:pointer;
}

.ui-sortable-handle {
    margin-bottom: 3px;

}

.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;    
    background-color: rgb(0, 114, 198);
    border-bottom: 1px solid rgba(0,0,0,.125);
    margin-bottom: 3px;
    color: white;
}
.ui-icon, .ui-widget-content .ui-icon {
    background-image: url('../Images/cursor_3-512.png')!important;
    background-size:1em!important;
}
.ui-icon-arrowthick-2-n-s {
    background-position: unset!important;
}